@font-face {
  font-family: Metropolitano-Regular;
  src: url('./font/Metropolitano-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Metropolitano-Medium;
  src: url('./font/Metropolitano-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Metropolitano-Black;
  src: url('./font/Metropolitano-Black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Metropolitano-Bold;
  src: url('./font/Metropolitano-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Metropolitano-Light;
  src: url('./font/Metropolitano-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Metropolitano-Thin;
  src: url('./font/Metropolitano-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: FacetUltra-Regular;
  src: url('./font/FacetUltra-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: RG-StandardBold;
  src: url('./font/RG-StandardBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Nohemi-Black;
  src: url('./font/Nohemi-Black.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: neon-light;
  src: url('./font/neon-light.woff') format('woff');
  font-display: swap;
}
