@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@layer base {
  button:disabled {
    cursor: not-allowed;
  }

}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shadow-divider {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 9px -10px inset;
  }

  .mirror-x {
    --tw-scale-x: -1;
  }

  .text-inherit {
    color: inherit;
  }

  .buttoneins {
  @apply py-4 px-4 flex rounded-md font-metromed1 text-discogray-100 shadow-[rgba(50,50,93,0.25)_0px_3px_6px_-2px,_rgba(0,0,0,0.3)_0px_2px_4px_-3px] bg-discogray bg-opacity-80 focus:outline-gray-200 focus:outline-1 justify-center items-center stroke-[5px] stroke-discogray transition duration-300 ease-in-out transform hover:bg-opacity-100 hover:text-white hover:shadow-white
  }

  /* Links TreeMenu */
  .parent {
 @apply text-3xl font-metrolight1
  }  
  .child {
 @apply text-xl font-metrobold1 pl-4
  }

  
  @font-face {
    font-family: 'Metropolitano-Regular';
    src: url(./font/Metropolitano-Regular.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Metropolitano-Medium';
    src: url(./font/Metropolitano-Medium.woff2) format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'Metropolitano-Black';
    src: url(./font/Metropolitano-Black.woff2) format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'Metropolitano-Bold';
    src: url(./font/Metropolitano-Bold.woff2) format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'Metropolitano-Light';
    src: url(./font/Metropolitano-Light.woff2) format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'Metropolitano-Thin';
    src: url(./font/Metropolitano-Thin.woff2) format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'FacetUltra-Regular';
    src: url(./font/FacetUltra-Regular.woff2) format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'RG-StandardBold';
    src: url(./font/RG-StandardBold.woff2) format('woff2');
    font-display: swap;
    
  }  @font-face {
    font-family: 'Nohemi-Black';
    src: url(./font/Nohemi-Black.woff2) format('woff2');
    font-display: swap;
  }


  }