@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@layer base {
  button:disabled {
    cursor: not-allowed;
  }

}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shadow-divider {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 9px -10px inset;
  }

  .mirror-x {
    --tw-scale-x: -1;
  }

  .text-inherit {
    color: inherit;
  }

  .buttoneins {
  @apply py-2 px-2 flex text-discopink focus:outline-gray-200 focus:outline-1 justify-center items-center bg-opacity-80 stroke-[5px] stroke-discopink transition duration-300 ease-in-out transform hover:bg-discopink-100
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    box-shadow: 0 0 0 0 #151515;
    -webkit-transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    color: hsl(311, 100%, 40%);
    stroke: hsl(311, 100%, 40%);
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
 

    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
  }
  
  .button-wrapper:hover {
    box-shadow: 0 4px 10px -3px #151515a3;
    background-color: rgba(255, 255, 255, 0.8);
    color: hsl(311, 100%, 20%);
    stroke: hsl(311, 100%, 20%);
  }

  @font-face {
    font-family: 'Metropolitano-Regular';
    src: url(./font/Metropolitano-Regular.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Metropolitano-Medium';
    src: url(./font/Metropolitano-Medium.woff2) format('woff2');
    font-display: swap;
  }

logoh1 {
    --svgCol: hsl(311, 100%, 60%);
    --svgColglow: hsl(311, 100%, 70%);
    --svgColglowzwei: hsl(311, 100%, 60%);
    --svgStrokewidth: 0.8px;
  
      filter: 
      
      drop-shadow(0px 0px 1px hsla(311, 100%, 50%, 0.639))
      drop-shadow(3px -2px 4px hsla(235, 21%, 23%, 0.475))

;
    }


  }