@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@layer base {
  button:disabled {
    cursor: not-allowed;
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shadow-divider {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 9px -10px inset;
  }

  .mirror-x {
    --tw-scale-x: -1;
  }

  .text-inherit {
    color: inherit;
  }
  .gradient1 {
    background-image: -webkit-linear-gradient(45deg, #f60076, #9c32c5);
    background-image: linear-gradient(45deg, #f60076, #9c32c5);
  }
  
  .button-wrapper {
    padding: 0.8rem 1rem;
    border-radius: 2px;
    box-shadow: 0 0 0 0 #151515;
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
  }
  
  .button-wrapper:hover {
    box-shadow: 0 4px 15px -3px #151515a3;
    background-color: rgba(255, 255, 255, 0.6);
  }


  /* LOGOSTYLING */
 /* 
  .logOh1 {
    filter: 


    drop-shadow(0 0 4px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.6))

    drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));


      --svgCol: white;
  }
  
 hier kommentar ausstellen für animation 
  logOh1 {
    animation: animate 10s linear infinite;
  }
  
  @keyframes animate {
    0% {
      filter: drop-shadow(0 0 10px rgba(0, 0, 0))
        drop-shadow(0 0 3px rgba(255, 255, 255, 0.8))
        drop-shadow(0 0 5px rgba(255, 255, 255, 0.6))
        drop-shadow(0 0 7px rgb(255, 255, 255, 0.2));
    }
    80% {
      filter: drop-shadow(0 0 10px rgba(0, 0, 0))
        drop-shadow(0 0 3px rgba(255, 255, 255, 0.8))
        drop-shadow(0 0 5px rgba(255, 255, 255, 0.6))
        drop-shadow(0 0 7px rgb(255, 255, 255, 0.2));
    }
    80.5% {
      filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.896));
    }
    81% {
      filter: drop-shadow(0 0 10px rgba(0, 0, 0))
        drop-shadow(0 0 3px rgba(255, 255, 255, 0.8))
        drop-shadow(0 0 5px rgba(255, 255, 255, 0.6))
        drop-shadow(0 0 7px rgb(255, 255, 255, 0.2));
    }
    81.2% {
      filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.896));
    }
    82% {
      filter: drop-shadow(0 0 10px rgba(0, 0, 0))
        drop-shadow(0 0 3px rgba(255, 255, 255, 0.8))
        drop-shadow(0 0 5px rgba(255, 255, 255, 0.6))
        drop-shadow(0 0 7px rgb(255, 255, 255, 0.2));
    }
  }
  */
  
}
